


body {
    background-color: slategrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 55px;
    font-weight: 400;
    color: gold;
    text-shadow: cyan;
    text-align: center;
}

.flex-container {
    height:30px;
    padding: 10px;
    border: 2px dashed gold;
    display: flex;
    justify-content: center;
    gap: 9px;
}

.item {
    background-color: darkturquoise;
    padding: 4px;
    align-self: center;
    border: 6px dashed slategray;
}

button {
    background-color: tan;
}

.let-him-cook {
    text-align: center;
    color: gold;
    font-weight: 100;
    font-style: italic;
    
}
#img-move {
    width: 1000px;
    height: auto;;
    display: flex;
    flex-direction: column;
}