


body {
    background-color: slategrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 55px;
    font-weight: 400;
    color: gold;
    text-shadow: cyan;
}

ul {
    font-weight: 700;
    font-size: 30px;
    background-color: gold;
    text-align: center;
}
